.title {
  text-align: center;
  margin: 2em 0;

  h1 {
    font-family: 'Bangers', cursive;
    font-size: 7em;
    color: #000000;
    text-shadow: 2px 2px #000000;
    background-image: url(../images/paper.jpg);
    letter-spacing: .1em;
  }
}